---
layout: page
title: Cyeam
tagline: 人生得意须尽欢，莫使金樽空对月。
---

{% include JB/setup %} {% for post in site.posts %}
<div class="">
    <h2 class="text-center">
        <a id="{{post.title}}" href="{{post.url}}" target="_blank">{{post.title}}</a>
    </h2>
    <div class="row">
        <div class="col-6 text-start px-3">
            <i class="fa-regular fa-calendar-days"></i>
            {{post.date|date: "%Y-%m-%d"}}
        </div>
        <div class="col-6 text-end px-3">
            <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
            阅读全文
        </div>
    </div>
    <p class="description">{{post.description}}</p>
    {% if post.figure %}
    <div class="text-center">
        <a href="{{post.url}}" target="_blank">
            <img src="{{post.figure}}" alt="IMG-THUMBNAIL" class="img-fluid" />
        </a>
    </div>
    {% endif %}
</div>
<hr />
{% endfor %}
