<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <meta name="google-translate-customization" content="a4136e955b3e09f2-45a74b56dc13e741-gf616ffda6e6360e0-11"></meta>

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images -->
    <link rel="shortcut icon" href="/assets/images/c32.ico">
  <!--  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
    <link  href="/assets/themes/css/myreward.css" rel="stylesheet"  type="text/css">

    <!-- jQuery -->
    <script src="//libs.baidu.com/jquery/1.7.2/jquery.min.js"></script>
    <script>!window.jQuery && document.write('<script src="/assets/js/jquery-1.7.2.min.js"><\/script>');</script>
  <script type="text/javascript" src="/assets/js/cyeam.js"></script>

  <!-- google adsense -->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1651120361108148",
    enable_page_level_ads: true
  });
</script>

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <div class="wrapperLogo" id="wrapperLogo" style="float: left; width: 80px;">
            <a href="//www.cyeam.com"><img src="/assets/images/logo.jpg" style="width:50px"></a>
          </div>
          <ul class="nav">
          	<li><a href="{{ HOME_PATH }}"><span class="icon-home"></span> Home</a></li>
            <li><a href="/categories.html"><span class="icon-th-list"></span> Categories</a></li>
            <li><a href="/archive.html"><span class="icon-ok"></span> Archive</a></li>
            <li><a href="/tags.html"><span class="icon-tags"></span> Tags</a></li>
            <li><a href="/pages.html"><span class="icon-th"></span> Pages</a></li>
            <li><a href="https://job.bytedance.com/2018/spring_referral/?token=QOXO%2BFcho1y6lW7s7iRCXg%3D%3D&key=MTkzMzksMjE0NjYsMTk5NTIsMjE2MjAsMjE3NDYsMTg2Nzk%3D"><span class="icon-comment"></span> 内推</a></li>
            <li><a href="/link.html">友链</a></li>
            <!--<li><a href="/cyeam.html"><span class="icon-bookmark"></span> Cyeam</a></li>-->
            <!--{% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}-->
          </ul>
        </div>
      </div>
    </div>

    <div id="container-narrow" class="container-narrow opacity">
    
      <div class="content" id="content">
       {{ content }}
      </div>

<!--
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-1651120361108148"
           data-ad-slot="4548335295"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
-->  

      <hr>
      <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
          with help from <a href="//jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="//twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
<!-- 		<a rel="license" href="//creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="//purl.org/dc/terms/" href="//purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">Cyeam</span> by <a xmlns:cc="//creativecommons.org/ns#" href="www.cyeam.com" property="cc:attributionName" rel="cc:attributionURL">Bryce</a> is licensed under a <a rel="license" href="//creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
 -->
        {% include JB/analytics %}
      </footer>

    </div>

  </body>
</html>
