<div class="page-header c6">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>

<div class="row-fluid post-full">
  <div class="span12">
    <div class="date">
      <span class="icon-calendar">
      </span>
      <span>{{ page.date | date_to_long_string }}</span>
    </div>
	{% if page.figure %}
    <p class="figure center">
        <img src="{{page.figure}}" alt="IMG-THUMBNAIL"/>
    </p>
    {% endif %}
	<blockquote>{{page.description}}</blockquote>
    <div class="content">
      {{ content }}
    </div>
	 
	<p>–<abbr title="End of file">EOF</abbr>–</p>

  {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}  

  {% unless page.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %} 

     <div id="aboutme">
        <h3 id="about_me">关于作者</h3>
        <p>Bryce，80后程序员，从没想过改变世界，只是想快快乐乐的码东西。这是我的个人博客，在这里写点小技术，说点小心请，谈点小想法。观点比较偏激，还请大家海涵。</p>
        <p>如果您觉得我的文章帮到了您，可以对我进行小额赞助进行鼓励，点击一次下方的广告即可。谢谢。</p>
      </div>
      <div class="bdsharebuttonbox"><a href="#" class="bds_tsina" data-cmd="tsina" title="Weibo"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="WeChat"></a><a href="#" class="bds_linkedin" data-cmd="linkedin" title="Linkedin"></a><a href="#" class="bds_twi" data-cmd="twi" title="Twitter"></a><a href="#" class="bds_fbook" data-cmd="fbook" title="Facebook"></a></div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"http://cyeam.qiniudn.com/qrcode_for_gh_aa23c6563b3d_258.jpg","bdStyle":"2","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 


<script src="http://7b1h1l.com1.z0.glb.clouddn.com/ismobile.min.js" type="text/javascript"></script>
<script type="text/javascript">
    /*234*60 创建于 2015-02-11*/
    var cpro_id = "u1949560";
    if (isMobile) {
      cpro_id = "u2272274"
    } else {
      cpro_id = "u2272342"
    }
</script>
<script src="http://cpro.baidustatic.com/cpro/ui/c.js" type="text/javascript"></script>

    <hr>
    <div class="pagination">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
</div>
